{{symname}} main pattern

[Coinglass](https://www.coinglass.com/tv/Binance_{{ symname | replace("/", "") }})
[Bybit](https://www.bybitglobal.com/trade/usdt/{{ symname | replace("/", "") }})
[Binance](https://www.binance.com/ru/futures/{{ symname | replace("/", "") }})